In [1]:
import pandas as pd

In [15]:
df=pd.DataFrame([[1,2,3,4],[5,6,7,8],[2,7,3,23],[3,6,8,23],[23,23,63,12]], columns=['A','B','C','D'])

In [16]:
df.head()

    A   B   C   D
0   1   2   3   4
1   5   6   7   8
2   2   7   3  23
3   3   6   8  23
4  23  23  63  12

In [17]:
df1=pd.DataFrame([[3,4,5,6],[7,87,47,68],[12,7,53,73],[23,56,78,28],[63,24,60,72]], columns=['W','X','Y','Z'])

In [18]:
df1.head()

    W   X   Y   Z
0   3   4   5   6
1   7  87  47  68
2  12   7  53  73
3  23  56  78  28
4  63  24  60  72

In [24]:
# Merging to form a one data frame
df3=pd.merge(df,df1,right_on='Y',left_on='B')

In [25]:
df3

Empty DataFrame
Columns: [A, B, C, D, W, X, Y, Z]
Index: []

In [26]:
import json

In [29]:
# IT is javascript object notation, method to store object of Javascript
# Json files have no comment and Always in double quotes not in single quote
json_data = '{"a":1,"b":2,"c":3}'# This file is string

In [30]:
# loads function load json data now you access it.
x=json.loads(json_data)

In [31]:
x

{'a': 1, 'b': 2, 'c': 3}

In [32]:
x['c']

3

In [ ]:
# useful in exporting and importing . very handy
# with open(a.json,'w') as f:
#     json.dump(x,f)
# we can work with file and by dumping json into file